* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.75rem;
    font-weight: 900;
    margin-bottom: 40px;
}

.joke {
    font-size: 1.5rem;
    font-weight: 600;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 20px;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 60px auto;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

.btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease-in-out;
}

.btn:active,
.btn:focus {
    transform: scale(0.9);
}

.pepe-laugh {
    width: 150px;
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 4rem;
    }

    .joke {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.2rem;

    }

    .container {
        margin: 70px auto;
        padding: 70px;

    }


}